@import 'systems.styl'
.c-btn
  cursor pointer
  display inline-block
  background $theme-color

.c-btn--small
  width 40px
  height 20px

.c-btn--white
  color white

.c-btn--round
  border-radius 5px

.c-btn--narrow
  padding 5px